Version 1.0.3

# Pandas basics

Hi! In this programming assignment you need to refresh your `pandas` knowledge. You will need to do several [`groupby`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)s and [`join`]()`s to solve the task.

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline 

from grader import Grader

In [3]:
DATA_FOLDER = '../readonly/final_project_data/'

transactions    = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv.gz'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

The dataset we are going to use is taken from the competition, that serves as the final project for this course. You can find complete data description at the [competition web page](https://www.kaggle.com/c/competitive-data-science-final-project/data). To join the competition use [this link](https://www.kaggle.com/t/1ea93815dca248e99221df42ebde3540).

## Grading

We will create a grader instace below and use it to collect your answers. When function `submit_tag` is called, grader will store your answer *locally*. The answers will *not* be submited to the platform immediately so you can call `submit_tag` function as many times as you need. 

When you are ready to push your answers to the platform you should fill your credentials and run `submit` function in the <a href="#Authorization-&-Submission">last paragraph</a>  of the assignment.

In [4]:
grader = Grader()

# Task

Let's start with a simple task. 

<ol start="0">
  <li><b>Print the shape of the loaded dataframes and use [`df.head`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html) function to print several rows. Examine the features you are given.</b></li>
</ol>

In [5]:
transactions.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [6]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [7]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [8]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [9]:
datearr=transactions.date.str.split('.')

In [10]:
transactions['day']=[date[0] for date in datearr]
transactions['month']=[date[1] for date in datearr]
transactions['year']=[date[2] for date in datearr]

In [11]:
transactions.drop('date', axis=1, inplace=True)
transactions.head()

   date_block_num  shop_id  item_id  item_price  item_cnt_day day month  year
0               0       59    22154      999.00           1.0  02    01  2013
1               0       25     2552      899.00           1.0  03    01  2013
2               0       25     2552      899.00          -1.0  05    01  2013
3               0       25     2554     1709.05           1.0  06    01  2013
4               0       25     2555     1099.00           1.0  15    01  2013

In [12]:
sep2014transaction=transactions[(transactions['month']=='09') & ( transactions['year']=='2014')]

In [13]:
sep2014transaction['sales']=sep2014transaction['item_price']*sep2014transaction['item_cnt_day']
group=sep2014transaction.groupby('shop_id')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
df=group.sum()

In [15]:
df.sort_values(by=['sales'],ascending=False)

         date_block_num   item_id    item_price  item_cnt_day         sales
shop_id
31               118940  66324344  4.719731e+06        8583.0  7.982852e+06
25                79960  43051575  3.733736e+06        6158.0  6.783338e+06
12                16840   8394533  1.445270e+06        3400.0  6.378335e+06
28                62860  32961134  3.500124e+06        4403.0  4.985847e+06
27                53440  25365729  3.166332e+06        4026.0  4.899292e+06
54                71440  39279350  3.201153e+06        5034.0  4.839335e+06
42                52700  27827744  2.882381e+06        3740.0  4.753366e+06
6                 41660  20400983  2.238830e+06        2754.0  3.480397e+06
57                61080  34868582  2.480242e+06        3701.0  3.223198e+06
43                26040  12315428  1.725166e+06        1873.0  2.793483e+06
46                29420  14026675  1.904743e+06        1908.0  2.703858e+06
26                25780  12614222  1.486571e+06        1910.0  2.504839e+06
47                31180  15261824  1.945515e+06        2097.0  2.487424e+06
38                23940  10404114  1.740133e+06        1492.0  2.472334e+06
15                27560  12834069  1.626706e+06        2033.0  2.383940e+06
35                30680  14896716  1.699970e+06        1941.0  2.323137e+06
22                25920  12814609  1.465961e+06        1754.0  2.175790e+06
18                21880   9893057  1.517110e+06        1359.0  2.132611e+06
7                 28260  13624288  1.669942e+06        1718.0  2.127491e+06
29                26660  13069140  1.459851e+06        1723.0  2.071339e+06
19                28120  14133782  1.470809e+06        1703.0  2.050485e+06
21                29560  15932295  1.474538e+06        1897.0  2.023241e+06
24                22940  10171668  1.519677e+06        1488.0  1.956968e+06
58                38780  21729909  1.675705e+06        2214.0  1.949760e+06
16                23400  11066100  1.432959e+06        1553.0  1.919162e+06
53                28480  13613179  1.478493e+06        1749.0  1.914577e+06
30                28200  14436318  1.325405e+06        1976.0  1.902539e+06
50                23300  12178497  1.499282e+06        1382.0  1.872948e+06
55                30220  10019119  1.030219e+06        2249.0  1.794684e+06
56                32160  17241046  1.406313e+06        1879.0  1.780582e+06
59                18820   9267912  1.144300e+06        1161.0  1.567666e+06
52                21140  10466595  1.138971e+06        1303.0  1.520397e+06
14                18820   8533682  1.077208e+06        1274.0  1.499621e+06
2                 14180   6206626  1.105799e+06         920.0  1.473540e+06
48                20240   9673522  1.133813e+06        1308.0  1.463744e+06
37                19420   9441465  1.057148e+06        1213.0  1.401708e+06
17                20600  10379052  1.159782e+06        1218.0  1.385955e+06
5                 22620  11626854  1.128086e+06        1355.0  1.350828e+06
3                 15040   6792250  9.258716e+05         960.0  1.228425e+06
4                 18360   8309152  9.965070e+05        1090.0  1.211556e+06
45                15900   7678032  9.079341e+05         992.0  1.199660e+06
41                16420   7894307  8.586018e+05        1001.0  1.133782e+06
44                17840   9204003  8.794124e+05        1039.0  1.049887e+06
49                13360   6751310  7.648606e+05         753.0  8.754520e+05
39                11280   5894926  6.275812e+05         707.0  7.788630e+05
10                12060   5712999  6.192720e+05         744.0  7.744040e+05
51                20820  11319774  6.835560e+05        1106.0  7.650010e+05
33                11040   5782527  4.834221e+05         587.0  5.391150e+05
34                 7020   3687349  3.999709e+05         406.0  4.829700e+05
40                 6760   4382441  3.399196e+05         374.0  3.538670e+05

In [16]:
sep2014transaction['item_category_id']=[items[items['item_id']==item_id]['item_category_id'].values[0] for item_id in sep2014transaction.item_id  ]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
sep2014transaction.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,sales,item_category_id
1953691,20,5,1039,899.0,1.0,24,09,2014,899.0,67
1953692,20,5,1015,449.0,1.0,27,09,2014,449.0,67
1953693,20,5,1329,399.0,1.0,07,09,2014,399.0,55
1953694,20,5,984,399.0,1.0,27,09,2014,399.0,40
1953695,20,5,984,399.0,1.0,08,09,2014,399.0,40

In [18]:
group=sep2014transaction.groupby('item_category_id')

In [19]:
df=group.sum()

In [20]:
df.sort_values(by=['sales'],ascending=False)

,date_block_num,shop_id,item_id,item_price,item_cnt_day,sales
item_category_id,,,,,,
20,74040,116847,24178998,9.495513e+06,7147.0,1.904516e+07
12,8780,14227,3661137,8.978428e+06,514.0,1.044901e+07
19,95840,151911,25703854,7.051466e+06,5736.0,9.013143e+06
16,5180,7844,3485263,3.490654e+06,453.0,7.716126e+06
8,19420,27373,8973868,1.418019e+06,5263.0,7.431590e+06
28,69580,111640,24675072,2.818550e+06,6563.0,7.001922e+06
23,74400,126742,16723547,5.264727e+06,4482.0,6.747657e+06
30,156000,248004,47105468,4.165191e+06,10130.0,6.501436e+06
40,236140,426241,169843440,3.133442e+06,12748.0,3.478580e+06
29,13200,20091,4973129,1.433243e+06,1533.0,3.457464e+06
3,23920,37702,7872550,2.894837e+06,1282.0,3.091009e+06
72,33120,56192,33733534,2.024287e+06,1838.0,2.434805e+06
55,163980,274765,75242849,2.355910e+06,8364.0,2.409459e+06
75,20060,32046,4768457,2.047039e+06,1122.0,2.221126e+06
37,96700,161241,70309611,1.928196e+06,4971.0,2.010636e+06
35,16540,25746,4814489,1.209623e+06,1105.0,1.595312e+06
15,2440,4307,1511301,1.410054e+06,132.0,1.516462e+06
63,27780,46957,21254908,1.188176e+06,1446.0,1.239319e+06
38,25200,41587,17827436,1.004429e+06,1328.0,1.081232e+06
79,10240,16064,9071104,5.381132e+05,986.0,1.059199e+06
6,12160,20928,4899471,9.818172e+05,652.0,1.048713e+06
11,1560,2654,1023687,1.024781e+06,78.0,1.026781e+06
2,7000,10552,2247196,8.812437e+05,355.0,8.882933e+05
64,17840,30133,14140068,8.417261e+05,920.0,8.623781e+05
31,16860,46365,5089181,4.446800e+05,1202.0,8.479300e+05
67,19840,35214,8634053,8.113822e+05,1022.0,8.256022e+05
24,5280,8284,1301136,6.648630e+05,332.0,7.953010e+05
14,1580,2386,1060483,7.361202e+05,77.0,7.181402e+05
58,8760,11978,3088176,7.092424e+05,437.0,7.094434e+05
69,10980,18199,7990400,5.641646e+05,591.0,6.281422e+05
...,...,...,...,...,...,...
65,19600,33465,15072818,3.513354e+05,1297.0,4.546980e+05
76,3840,10560,849500,3.496430e+05,267.0,4.521570e+05
7,2640,3858,1075900,2.739709e+05,214.0,4.146620e+05
32,6000,9807,1199637,2.455000e+05,433.0,4.030000e+05
34,2260,6215,1100440,1.349470e+05,337.0,3.721750e+05
49,14060,17678,8325207,3.058595e+05,782.0,3.391255e+05
61,5340,8748,5348561,2.642993e+05,273.0,2.670743e+05
25,6320,11036,1464085,2.393755e+05,335.0,2.460565e+05
9,1300,780,753352,5.206057e+04,416.0,2.035010e+05
57,13960,29138,9415502,1.966150e+05,702.0,1.978110e+05
70,9940,16932,6715175,1.604927e+05,587.0,1.857817e+05
43,11080,19556,7409382,1.696725e+05,552.0,1.691745e+05
21,6440,10765,1705855,1.642821e+05,322.0,1.639227e+05
56,2780,4651,622305,1.343600e+05,139.0,1.343600e+05
60,1040,1640,334018,1.422900e+05,47.0,1.312950e+05
33,1980,2924,789574,1.277470e+05,99.0,1.277470e+05
5,3160,4396,882988,1.185065e+05,156.0,1.151265e+05
54,4440,12210,2233808,3.928000e+04,289.0,5.394500e+04
78,2540,6985,680867,3.385700e+04,138.0,3.766900e+04
71,23980,39052,25117851,5.906539e+03,6571.0,3.263475e+04
45,2400,4133,32770,2.995540e+04,121.0,3.020440e+04
74,160,440,41928,2.667000e+04,9.0,2.945000e+04
83,3480,6206,3843493,1.560000e+04,247.0,2.225900e+04
17,220,317,133331,2.969200e+04,9.0,2.051200e+04
39,460,786,348347,6.577000e+03,23.0,6.577000e+03
4,420,608,119320,6.118000e+03,21.0,6.118000e+03
77,160,176,4565,1.992000e+03,8.0,1.992000e+03
44,120,330,23395,1.142000e+03,7.0,1.358000e+03
59,40,40,8195,3.070000e+02,2.0,3.070000e+02
82,20,10,13345,1.300000e+01,1.0,1.300000e+01

Now use your `pandas` skills to get answers for the following questions. 
The first question is:

1. ** What was the maximum total revenue among all the shops in September, 2014?** 


* Hereinafter *revenue* refers to total sales minus value of goods returned.

*Hints:*

* Sometimes items are returned, find such examples in the dataset. 
* It is handy to split `date` field into [`day`, `month`, `year`] components and use `df.year == 14` and `df.month == 9` in order to select target subset of dates.
* You may work with `date` feature as with strings, or you may first convert it to `pd.datetime` type with `pd.to_datetime` function, but do not forget to set correct `format` argument.

In [21]:
item_price=transactions[['item_id','item_price']]
item_price=item_price.drop_duplicates()
item_group=item_price.groupby('item_id')

In [22]:
item_count=item_group.count()
ones=item_count[item_count['item_price']==1]
ones.shape[0]

5926

In [23]:
# YOUR CODE GOES HERE

max_revenue = 7.982852e+06
grader.submit_tag('max_revenue', max_revenue)

Current answer for task max_revenue is: 7982852.0

Great! Let's move on and answer another question:

<ol start="2">
  <li><b>What item category generated the highest revenue in summer 2014?</b></li>
</ol>

* Submit `id` of the category found.
    
* Here we call "summer" the period from June to August.

*Hints:*

* Note, that for an object `x` of type `pd.Series`: `x.argmax()` returns **index** of the maximum element. `pd.Series` can have non-trivial index (not `[1, 2, 3, ... ]`).

In [24]:
# YOUR CODE GOES HERE

category_id_with_max_revenue = 20
grader.submit_tag('category_id_with_max_revenue', category_id_with_max_revenue)

Current answer for task category_id_with_max_revenue is: 20

<ol start="3">
  <li><b>How many items are there, such that their price stays constant (to the best of our knowledge) during the whole period of time?</b></li>
</ol>

* Let's assume, that the items are returned for the same price as they had been sold.

In [25]:
# YOUR CODE GOES HERE

num_items_constant_price = 5926
grader.submit_tag('num_items_constant_price', num_items_constant_price)

Current answer for task num_items_constant_price is: 5926

In [32]:
dec2014transaction=transactions[(transactions['month']=='12') & ( transactions['year']=='2014')& (transactions['shop_id']==25)]
dec2014transaction_returned=dec2014transaction[dec2014transaction['item_cnt_day']<0]
dec2014transaction_excluding_returned=dec2014transaction.drop(dec2014transaction_returned.index)
dec2014transaction_excluding_returned

,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year
2295837,23,25,21752,399.00,1.0,14,12,2014
2295838,23,25,21752,399.00,3.0,13,12,2014
2295839,23,25,21733,149.00,1.0,26,12,2014
2295840,23,25,21732,149.00,1.0,31,12,2014
2295841,23,25,21726,149.00,1.0,30,12,2014
2295842,23,25,21726,149.00,1.0,23,12,2014
2295843,23,25,21726,149.00,1.0,20,12,2014
2295844,23,25,21726,149.00,1.0,19,12,2014
2295845,23,25,21726,149.00,1.0,09,12,2014
2295846,23,25,21799,999.00,1.0,25,12,2014
2295847,23,25,21798,899.00,1.0,21,12,2014
2295848,23,25,21797,999.00,1.0,26,12,2014
2295849,23,25,21797,999.00,1.0,07,12,2014
2295850,23,25,21794,999.00,1.0,19,12,2014
2295851,23,25,21793,999.00,1.0,06,12,2014
2295852,23,25,21792,999.00,1.0,31,12,2014
2295853,23,25,21792,999.00,1.0,17,12,2014
2295854,23,25,21790,1699.00,1.0,23,12,2014
2295855,23,25,21787,249.00,1.0,14,12,2014
2295856,23,25,21711,242.98,1.0,28,12,2014
2295857,23,25,21711,299.00,1.0,07,12,2014
2295858,23,25,21706,149.00,1.0,31,12,2014
2295859,23,25,21704,149.00,1.0,30,12,2014
2295860,23,25,21704,149.00,1.0,16,12,2014
2295861,23,25,21704,149.00,1.0,04,12,2014
2295862,23,25,21683,149.00,1.0,26,12,2014
2295863,23,25,21683,149.00,1.0,19,12,2014
2295864,23,25,21752,399.00,1.0,19,12,2014
2295865,23,25,21752,399.00,1.0,21,12,2014
2295866,23,25,21752,399.00,1.0,23,12,2014
...,...,...,...,...,...,...,...,...
2323393,23,25,5013,998.00,1.0,17,12,2014
2323394,23,25,5012,399.00,1.0,24,12,2014
2323395,23,25,5012,399.00,1.0,19,12,2014
2323396,23,25,5012,399.00,2.0,07,12,2014
2323397,23,25,5270,799.00,1.0,22,12,2014
2323398,23,25,5270,799.00,1.0,26,12,2014
2323399,23,25,5270,799.00,1.0,28,12,2014
2323400,23,25,5271,799.00,1.0,10,12,2014
2323401,23,25,5014,498.00,1.0,17,12,2014
2323402,23,25,5275,1199.00,1.0,05,12,2014
2323403,23,25,5275,1199.00,2.0,30,12,2014
2323404,23,25,5037,1999.00,2.0,30,12,2014
2323405,23,25,5272,299.00,1.0,13,12,2014
2323406,23,25,5272,299.00,1.0,16,12,2014
2323407,23,25,5272,299.00,1.0,18,12,2014
2323408,23,25,5272,299.00,1.0,20,12,2014
2323409,23,25,5272,299.00,1.0,24,12,2014
2323410,23,25,5272,299.00,2.0,26,12,2014
2323411,23,25,5275,1199.00,1.0,07,12,2014
2323412,23,25,5272,298.85,2.0,28,12,2014
2323413,23,25,5272,299.00,2.0,30,12,2014
2323414,23,25,5035,1499.00,1.0,07,12,2014
2323415,23,25,5035,1499.00,1.0,30,12,2014
2323416,23,25,5036,1499.00,1.0,25,12,2014
2323417,23,25,5037,2599.00,1.0,06,12,2014
2323418,23,25,5037,2599.00,1.0,11,12,2014
2323419,23,25,5037,1999.00,2.0,28,12,2014
2323420,23,25,5038,2999.00,1.0,03,12,2014
2323421,23,25,5033,1199.00,1.0,06,12,2014
2323422,23,25,5037,1999.00,1.0,31,12,2014

In [39]:
cnts=[ cnt if not id in dec2014transaction_excluding_returned.item_id.values else cnt-dec2014transaction_excluding_returned[dec2014transaction_excluding_returned['item_id']==id]['item_cnt_day'] for id,cnt in zip(dec2014transaction_excluding_returned['item_id'],dec2014transaction_excluding_returned['item_cnt_day'])]

In [40]:
len(cnts)

8671

In [43]:
cnts==dec2014transaction_excluding_returned['item_cnt_day']

TypeError: invalid type comparison

In [31]:
dec2014transaction_excluding_returned[dec2014transaction_excluding_returned['item_cnt_day']=='0']

/opt/conda/lib/python3.6/site-packages/pandas/core/ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

Empty DataFrame
Columns: [date_block_num, shop_id, item_id, item_price, item_cnt_day, day, month, year]
Index: []

Remember, the data can sometimes be noisy.

<ol start="4">
  <li><b>What was the variance of the number of sold items per day sequence for the shop with `shop_id = 25` in December, 2014? Do not count the items, that were sold but returned back later.</b></li>
</ol>

* Fill `total_num_items_sold` and `days` arrays, and plot the sequence with the code below.
* Then compute variance. Remember, there can be differences in how you normalize variance (biased or unbiased estimate, see [link](https://math.stackexchange.com/questions/496627/the-difference-between-unbiased-biased-estimator-variance)). Compute ***unbiased*** estimate (use the right value for `ddof` argument in `pd.var` or `np.var`). 
* If there were no sales at a given day, ***do not*** impute missing value with zero, just ignore that day

In [ ]:
shop_id = 25

total_num_items_sold = # YOUR CODE GOES HERE
days = # YOUR CODE GOES HERE

# Plot it
plt.plot(days, total_num_items_sold)
plt.ylabel('Num items')
plt.xlabel('Day')
plt.title("Daily revenue for shop_id = 25")
plt.show()

total_num_items_sold_var = # PUT YOUR ANSWER IN THIS VARIABLE
grader.submit_tag('total_num_items_sold_var', total_num_items_sold_var)

## Authorization & Submission
To submit assignment to Cousera platform, please, enter your e-mail and token into the variables below. You can generate token on the programming assignment page. *Note:* Token expires 30 minutes after generation.

In [ ]:
STUDENT_EMAIL = # EMAIL HERE
STUDENT_TOKEN = # TOKEN HERE
grader.status()

In [ ]:
grader.submit(STUDENT_EMAIL, STUDENT_TOKEN)

Well done! :)